<div {{ attributes.defaults(stimulus_controller('chat', { url: mercure('https://chattr.briqsafe.dev/chat/general') })) }}>
    <!-- Messages Table -->
    <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
        <thead>
        <tr>
            <th style="text-align: left; width: 40%;">Message</th>
            <th style="text-align: center; width: 20%;">Author</th>
            <th style="text-align: center; width: 20%;">Channel</th>
            <th style="text-align: right; width: 20%;">Date</th>
        </tr>
        </thead>
        <tbody class="message-container">
        {% for message in this.messages %}
            {%  if message.channel != null and message.channel.id == selectedChannel  %}
                <twig:ChatMessage message="{{ message }}"></twig:ChatMessage>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <!-- Message Form with Selected Channel -->
    <div class="message-form">
        <twig:NewChatMessageForm selectedChannel="{{ selectedChannel }}" />
    </div>

</div>