<div {{ attributes.defaults(stimulus_controller('chat', { url: mercure('https://chattr.briqsafe.dev/chat/general') })) }}>

    <!-- Channel Selector -->
    <div class="channel-selector">
        <label for="channel">Select Channel:</label>
        <select id="channel" data-action="change->chat#changeChannel">
            {% for channel in this.userChannels(this.user) %}
                <option value="{{ channel.id }}">
                    {{ channel.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <!-- Messages Table -->
    <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
        <thead>
        <tr>
            <th style="text-align: left; width: 40%;">Message</th>
            <th style="text-align: center; width: 20%;">Author</th>
            <th style="text-align: center; width: 20%;">Channel</th>
            <th style="text-align: right; width: 20%;">Date</th>
        </tr>
        </thead>
        <tbody class="message-container">
        {% for message in this.messages %}
            <twig:ChatMessage message="{{ message }}"></twig:ChatMessage>
        {% endfor %}
        </tbody>
    </table>

    <div class="message-form">
        <twig:NewChatMessageForm />
    </div>
</div>